<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mill City Hall: {{ title }}</title>
    <link rel="icon" type="image/png" href="/images/mch-initials-favicon.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="alternate" type="application/rss+xml" title="Podcast RSS Feed" href="/feed.xml">
</head>
<body>
    <header>
        <a href="/">
            <img src="/images/mch-logo-1400.png" title="{{ site.title }}"  alt="{{ site.title }}" id="logo" />
        </a>
        <h2>Minneapolis politics, slightly ground down</h2>
        <h3>{{ site.description }}</h3>
        <nav class="main-nav">
            <ul>
                <li><a href="/">Episodes</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/minneapolis-links/">Links</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{ content | safe }}
    </main>

    <footer>
        <p>&copy; {{ site.year }} {{ site.title }}. All rights reserved.</p>
    </footer>
</body>
</html> 