---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:content="http://purl.org/rss/1.0/modules/content/">
    <channel>
        <title>{{ site.title | xmlEscape }}</title>
        <link>{{ site.url }}</link>
        <description>{{ site.description | xmlEscape }}</description>
        <language>en-us</language>
        <itunes:author>{{ site.author | xmlEscape }}</itunes:author>
        <itunes:category text="{{ site.category | xmlEscape }}"/>
        <itunes:image href="{{ site.url }}/images/podcast-cover.png"/>
        <itunes:explicit>false</itunes:explicit>
        {% for episode in collections.episodes | reverse %}
        <item>
            <title>{{ episode.data.title | xmlEscape }}</title>
            <link>{{ site.url }}/episodes/{{ episode.fileSlug }}</link>
            <description>{{ episode.data.description | xmlEscape }}</description>
            <pubDate>{{ episode.date | dateToRfc822 }}</pubDate>
            <enclosure url="{{ episode.data.audioUrl }}" length="{{ episode.data.audioLength }}" type="audio/mpeg"/>
            <guid>{{ site.url }}/episodes/{{ episode.fileSlug }}</guid>
            <itunes:duration>{{ episode.data.duration }}</itunes:duration>
        </item>
        {% endfor %}
    </channel>
</rss> 